<hr>
<h2>Subscribe</h2>
<p>Get new posts by email.</p>
<form
  action="https://buttondown.email/api/emails/embed-subscribe/fusionconclusion"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/fusionconclusion', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <label for="bd-email">Email</label><br>
  <input type="email" name="email" id="bd-email" required><br><br>
  <input type="submit" value="Subscribe">
  <p><a href="https://buttondown.email" target="_blank" rel="noopener">Powered by Buttondown</a></p>
</form>
