<hr>
<p>Get new posts by email.</p>
<form
  action="
          https://buttondown.com/api/emails/embed-subscribe/YOUR-BUTTONDOWN-USERNAME
         "
  method="post"
  class="embeddable-buttondown-form"
>
  <label for="email">Email</label>
  <input type="email" name="email" placeholder="you@example.com" />
  <input type="hidden" value="1" name="embed" />
  <input type="submit" value="Subscribe" />
  <p>
    <a href="https://buttondown.com" target="_blank">
      Powered by Buttondown.
    </a>
  </p>
</form>
